.container {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    position: relative;
    bottom: 80px;
}

.input-btn-container {
    background-color: hsl(257, 27%, 26%);
    background-image: url('../../../assets/images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    padding: 1rem;
    border-radius: 8px;
}

.link-input-container {
    display: flex;
    flex-direction: column;
}

.shorten-input {
    height: 42px;
}

.error {
    border: 2px solid hsl(0, 87%, 67%) !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

@media (min-width: 900px) and (max-width: 1440px) {
    .container {
        padding: 1rem 10%;
    }
    .input-btn-container {
        background-image: url('../../../assets/images/bg-shorten-desktop.svg');
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 1rem;
        padding: 2.5rem;
    }
    .link-input-container {
        grid-column: 1 / -3;
    }
    .shorten-input {
        width: 100%;
        height: 48px;
    }
    .shorten-btn {
        grid-column: span 2;
        height: 48px !important;
    }
}

.result-container {
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    background: white;
    border-radius: 5px;
    font-size: 18px;
}

.provided-link {
    padding: 1rem;
    border-bottom: 0.5px solid #ddd;
}

.generated-short-link {
    color: hsl(180, 66%, 49%);
}

.long-short-btn {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
}

@media (min-width: 900px) and (max-width: 1440px) {
    .result-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }
    .provided-link {
        border: none;
    }
    .long-short-btn {
        flex-direction: row;
        align-items: center;
    }
    .copy-btn {
        padding: 0.2rem 1rem !important;
        font-size: 14px !important;
    }
}