.mobile-navigation {
    background-color: hsl(257, 27%, 26%);
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
    /* position: absolute;
    width: 86%; */
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 1.25rem;
}

.mobile-nav-link {
    color: white !important;
}

.mobile-nav-link-btn {
    width: 100%;
}

.divider {
    height: 1px;
    background-color: hsl(257, 7%, 63%);
    width: 80%;
    margin: auto;
}