/* .bg-container {
    height: 65vh;
} */

.header {
    background-color: white;
    padding: 1.75rem 1.5rem;
    position: relative;
}


/* .bg-illustration {
    background-image: url('../../assets/images/illustration-working-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding: 0;
    padding-bottom: calc(100% * 3 / 4);
    box-sizing: content-box;
} */

@media (min-wdith: 540px) and (max-width: 900px) {
    .bg-illustration {
        height: 70vh;
    }
}

@media (min-width: 900px) and (max-width: 1440px) {
    .header {
        /* padding-left: 10%;
        padding-right: 10%; */
        padding: 3rem 10% 1.5rem 10%;
    }
    .bg-container {
        height: 85px;
    }
    .bg-illustration {
        background-image: url('../../assets/images/illustration-working-desktop.svg');
    }
}