.social-icon-div {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.social-icon {
    cursor: pointer;
}

/* .social-icon:hover,
.social-icon:active {
    background-color: hsl(180, 66%, 49%);
} */