.card {
    text-align: center;
    background: white;
    padding: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

img {
    background-size: 40px;
}

.image-container {
    background: hsl(260, 8%, 14%);
    border-radius: 50%;
    margin-top: -70px;
    margin-bottom: 1.75rem;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-heading {
    color: hsl(255, 11%, 22%);
    margin-bottom: 1rem;
    font-size: 20px;
}

.card-content {
    color: hsl(257, 7%, 63%);
    font-size: 14px;
}

@media(min-width: 900px) and (max-width: 1440px) {
    .card {
        align-items: flex-start;
        text-align: left;
        margin-bottom: 0;
        padding: 1.5rem;
    }
    .card0 {
        grid-row: 1 / 4;
    }
    .card1 {
        grid-row: 2 / 5;
    }
    .card2 {
        grid-row: 3 / 6;
    }
    .card-content {
        text-align: left;
    }
}