.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.25rem;
}

.logo {
    opacity: 0.9;
}

.desktop-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-link {
    font-size: 14px;
    margin-right: 1.5rem;
}

.nav-link-btn {
    font-size: 14px !important;
}

.desktop-nav-container {
    display: none;
}

@media (min-width: 900px) and (max-width: 1440px) {
    .mobile-nav-container {
        display: none;
    }
    .desktop-nav-container {
        display: flex;
    }
}